# OpenSwoole Configuration
APP_ENV=dev

IS_OPENSWOOLE=true
SWOOLE_SERVER_HOST="0.0.0.0"
SWOOLE_SERVER_PORT=9501
SWOOLE_WORKERS=3
SWOOLE_RUN_FOREGROUND=0   #1 for true
SWOOLE_MAX_REQUEST=5000
SWOOLE_MAX_CONN=1024
SWOOLE_MAX_WAIT_TIME=60
SWOOLE_ENABLE_COROUTINE=1 #0 for false
SWOOLE_MAX_COROUTINE=3000
SWOOLE_DISPLAY_ERRORS=1 #0 for false
SWOOLE_HEARTBEAT_IDLE_TIME=600
SWOOLE_HEARTBEAT_INTERVAL=60
SWOOLE_SERVER_LOG_INFO=1 #0 for false only log error

# Redis Configuration
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_PASSWORD="rootpassword"
REDIS_DATABASE=0
REDIS_PREFIX="gemvc:"
REDIS_PERSISTENT=true
REDIS_TIMEOUT=0.0
REDIS_READ_TIMEOUT=0.0

# Database Configuration
# because cli run on local machine on Dockerise application it is differ by host name inside docker network
DB_HOST_CLI_DEV="localhost"
# db host name is defined in docker-compose.yml which actually run in app for crud operation
DB_HOST="db"
DB_PORT=3306
DB_NAME="gemvc_db"
DB_CHARSET="utf8mb4"
DB_USER="root"
DB_PASSWORD=rootpassword
QUERY_LIMIT=10
#if using openswoole ,it is recomended make max 4 connection per openSwoole worker
MIN_DB_CONNECTION_POOL=1
MAX_DB_CONNECTION_POOL=10
DB_CONNECTION_TIME_OUT=20
DB_CONNECTION_EXPIER_TIME=20
DB_CONNECTION_MAX_AGE=3600

# Token Configuration
TOKEN_ISSUER='MyCompany'
TOKEN_SECRET='some secret'
LOGIN_TOKEN_VALIDATION_IN_SECONDS=789000
REFRESH_TOKEN_VALIDATION_IN_SECONDS=43200
ACCESS_TOKEN_VALIDATION_IN_SECONDS=1200

# URL Configuration
SERVICE_IN_URL_SECTION=1
METHOD_IN_URL_SECTION=2