version: '3'

services:
  openswoole:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9501:9501"
    volumes:
      - ./:/var/www/html:delegated
    restart: unless-stopped
    networks:
      - backend-network
    depends_on:
      - db
      - redis
    environment:
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_PASSWORD: "rootpassword"
      REDIS_DATABASE: "0"
      REDIS_PREFIX: "gemvc:"
      REDIS_PERSISTENT: "true"
      REDIS_TIMEOUT: "0.0"
      REDIS_READ_TIMEOUT: "0.0"

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    command: 
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
    networks:
      - backend-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: rootpassword
    networks:
      - backend-network
    depends_on:
      - db

volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local

networks:
  backend-network:
    driver: bridge
